/* GLOBAL */

*{
	margin:0;
	padding:0;
	border:0;
	text-decoration:none;
	text-emphasis:none;
	font-family:'Century Gothic', 'Lucida Sans Unicode', sans-serif;
	list-style:none;
}

.amp {
	font-family:Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	font-style:italic;
	font-weight:normal;
}


/* WRAPPER */

#wrapper{
	margin:auto;
	width:960px;
}

body{
	background:url(../img/back.png);
}

h1{
	text-transform:lowercase;
	margin-bottom:20px;
	margin-left:20px;
	color:#000;
}

p{
	color:#FFFFFF;
	font-size:14px;
	letter-spacing:0.6px;
	line-height:150%;
	margin-bottom:10px;
	
}

p em{
	color:#6FF;
	font-weight:400;
	font-style:oblique;
}

p strong{
	color:#6FF;
	font-weight:bolder;
	text-shadow:#006;
}

/* HEADER */

header{
	background:url(../img/logo.png) no-repeat;
	position:relative;
	right:-192px;
	height:200px;
}

/* ASIDE */

aside{
	background:#333;
	width:100px;
	float:left;
	border:thin #555 solid;
	padding:50px;
	opacity:0.8;
	overflow:hidden;
}

aside li{
	padding-bottom:10px;
	text-align:center;
	text-transform:lowercase;
}

a{
	color:#C90;
}

a:hover{
	color:#6FF;
}

/* CONTENT */

#content{
	background:#555;
	width:630px;
	float:right;
	color:#FFF;
	font-size:14px;
	text-align:justify;
	border:thin #777 solid;
	margin-bottom:25px;
	opacity:0.85;
	padding:50px;
}

/* FOOTER */

#footer{
	clear:both;
	position:relative;
	width:735px;
	left:225px;
	background:#000;
	margin-bottom:50px;
	font-size:11px;
	padding-top:10px;
	text-align:center;
	color:#333;
	height:30px;
}